/* Media Queries */
@media(max-width:1215px) {

}

@media(max-width:915px) {

	footer .wrapper
	{
		font-size:12px;
		width:230px;
	}
}

/* hiding the slideshow by setting a high negative value (using display will remove it from appearing again).
	fixing height of header as well.
*/
@media(max-width:765px) {

	footer
	{
		padding-bottom:70px;
		height: auto;
	}

	footer .wrapper
	{
		width:350px;
		margin: 0 auto;
	}
}

/**
********* [ Global Styling ] *****************************************
**/

.container {
	width: 960px;
}

/**

********* [ Header ] *************************************************

**/
.header {
	height: 100px;
	width: 100%;
 	background-color: #445566;
  	border-bottom: 1px solid #AAA;

	font-family: 'Oswald', sans-serif;
  	font-weight: 300;
}

.header img {
	width: 300px;
	height: 100px;
	float: left;
}

/**

********* [ Navigation Menu ] ****************************************

**/



/**

********* [ Content - Side Bar ] ************************************

**/



/**

********* [ Slider content ] ******************************************

**/

.slider {
	position: relative;
	width: 100%;
	height: 500px;
	border-bottom: 1px solid #ddd;
}

.slide {
	background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
	background-size: cover;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.active-slide {
	display: block;
}

.slide-copy h1 {
	color: #445566;

	font-family: "Oswald", sans-serif;
	font-weight: 400;

	font-size: 40px;
	margin-top: 105px;
	margin-left: 45px;
	margin-bottom: 0px;
	width: 300px;
	border: 1px solid #000;
}

.slide-copy p {
  	color: #959595;
  	font-family: Georgia, "Times New Roman", serif;
  	font-size: 1.15em;
  	line-height: 1.75em;
  	margin-bottom: 15px;
  	margin-left: 45px;
  	margin-top: 16px;
  	width: 300px;
  	border: 1px solid #000;
}

.slide-img {
  	text-align: right;
  	width: 650px;
  	height: 500px;
  	float: left;
  	border: 1px solid #000;
}

/** Slide Feature **/
.slide-feature {
	text-align: center;
	height: 500px;
}

.slide-feature img {
	margin-top: 112px;
	margin-bottom: 28px;
}

.slide-feature a {
	display: block;
	color: #6fc5e0;

	font-family: "HelveticaNeueMdCn", Helvetica sans-serif;
	font-family: "Oswald", sans-serif;
	font-weight: 400;

	font-size: 20px;
}

.slider-nav {
	text-align: center;
	margin-top: 20px;
}

.arrow-prev {
	margin-right: 45px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
}

.arrow-prev:hover, .arrow-next:hover {
	color: #445566;
}

.arrow-next {
	margin-left: 45px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
}

.slider-dots {
	list-style: none;
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;
}

.slider-dots li {
	color: #bbbcbc;
	display: inline;
	font-size: 30px;
	margin-right: 5px;
}

.slider-dots li.active-dot {
	color: #363636;
}

/**

********* [ footer ] ************************************************

**/

footer {
	position: relative;
	clear: both;
	width: auto;
	height: 75px;
	background: #445566;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

footer .wrapper {
	line-height: 25px;
	margin: 0 auto;
	padding-top: 30px;
	width: auto;
	max-width: 900px;
	font-size: 12px;
}

#copyright {
	height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#copyright .wrapper {
	font-family: 'Open Sans', sans-serif;
	padding-top:25px;
	color: #fff;
	font-size:14px;
	position:relative;
	text-align: center;
}

#copyright .wrapper a {
	color: #fff;
}

#copyright .wrapper a:hover {
	color: #ABABAB;
}

/****** MISC ***************/


