/* Media Queries */
@media(max-width:1215px) {

}

@media(max-width:915px) {

	footer .wrapper
	{
		font-size:12px;
		width:230px;
	}
}

/* hiding the slideshow by setting a high negative value (using display will remove it from appearing again).
	fixing height of header as well.
*/
@media(max-width:765px) {

	footer
	{
		padding-bottom:70px;
		height: auto;
	}

	footer .wrapper
	{
		width:350px;
		margin: 0 auto;
	}
}

/**
********* [ Global Styling ] *****************************************
**/

.container {
	width: 960px;
}

/**

********* [ Header ] *************************************************

**/
.header {
	height: 100px;
	width: 100%;
 	background: -webkit-linear-gradient(#2E0854, #72587F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2E0854, #72587F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2E0854, #72587F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2E0854, #72587F); /* Standard syntax */
  	border-bottom: 1px solid #AAA;

	font-family: 'Oswald', sans-serif;
  	font-weight: 300;
}

.header img {
	width: 400px;
	height: 100px;
	float: left;
}

/**

********* [ Navigation Menu ] ****************************************

**/



/**

********* [ Content - Side Bar ] ************************************

**/



/**

********* [ Slider content ] ******************************************

**/

.slider {
	position: relative;
	width: 100%;
	height: 500px;
	border-bottom: 1px solid #ddd;
}


/**

********* [ footer ] ************************************************

**/

footer {
	position: relative;
	clear: both;
	width: auto;
	height: 75px;
	background: -webkit-linear-gradient(#72587F, #2E0854); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#72587F, #2E0854); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#72587F, #2E0854); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#72587F, #2E0854); /* Standard syntax */

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

footer .wrapper {
	line-height: 25px;
	margin: 0 auto;
	padding-top: 30px;
	width: auto;
	max-width: 900px;
	font-size: 12px;
}

#copyright {
	height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#copyright .wrapper {
	font-family: 'Open Sans', sans-serif;
	padding-top:25px;
	color: #fff;
	font-size:14px;
	position:relative;
	text-align: center;
}

#copyright .wrapper a {
	color: #fff;
}

#copyright .wrapper a:hover {
	color: #ABABAB;
}

/****** MISC ***************/


